.parent {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
}
.layout {
  min-height: 70vh;
  max-height: 100vh;
  margin: auto;
  vertical-align: middle;
  width: 640px;
  overflow: hidden;
}

.currency-input {
  color: rgba(255,255,255,0.8);
  font-size: 4em;
  width: 4em;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: solid white 3px;
}

.currency-select {
  background-color: rgba(0,0,0,0.1);
  padding: 0.4em;
  font-size: 1.4em;
  font-weight: bold;
  color: rgba(255,255,255,0.8);
}

.b-bottom {
  .currency-input {
    color: #ff7d82;
    border-bottom: solid #ff7d82 3px;
  }
  
  .currency-select {
    background-color: rgba(0,0,0,0.1);
    color: #ff7d82;
  }
}
.change {
  display: inline-block;
  background-color: #fefffe;
  top: 0;
  width: 3em;
  height: 3em;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 0 6px 4px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin-bottom: -3.6em;
  z-index: 100;
  position: relative;
}