
<div class="parent">
  <div class="layout max-w-screen-sm m-auto border border-gray-300 md:rounded-lg bg-blue-100 text-gray-700">
    <div class="flex flex-col">
      <div class="b-top bg-red-500 p-4">
        <aside>
          <p class="text-xs text-white font-light">
            {{today | date:'dd/MM/yyyy'}}
          </p>
        </aside>
        <header>
          <h1 class="text-4xl text-center p-4 font-semibold text-gray-300">Cambio de Moneda</h1>
        </header>
        <div class="flex justify-between m-16">
          <div>
            <input #origin (keyup)="changeAmount()" class="currency-input" type="text" placeholder="0000.00">
          </div>
          <div>
            <select #currencyOrigin (change)="changeAmount()" class="currency-select" name="currencies" id="">
              <option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>
            </select>
          </div>
        </div>
        <button class="change" (click)="invertCurrency()">
          ch
        </button>
      </div>
      <div class="b-bottom">
        <p class="text-center text-italic text-red-500 pt-2">
          {{message}}
        </p>
        <div class="flex justify-between m-16">
          <div>
            <input #destination class="currency-input" type="text" disabled>
          </div>
          <div>
            <select #currencyDestination (change)="changeAmount()" class="currency-select" name="currencies-dest" id="">
              <option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>


    <router-outlet></router-outlet>
  